body {
    align-items: center;
    background-color: midnightblue;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
}

a {
    color: white;
}

th > a {
    color: darkgoldenrod;
}

table {
    background-color: silver;
    border: groove silver thick;
    padding: 5px;
}

th {
    background-color: gold;
    border: thick outset goldenrod;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 5px;
}

td.index {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

td {
    background-color: lightslategrey;
    border: thick groove gray;
    color: #EEE;
    padding: 5px 10px;
}

tr > td.icon {
    /* background-color: darkslateblue; */
    background-color: black;
    padding: 0;
    /* color: white; */
    text-align: center;
    font-size: xxx-large;
}

tr > td.name {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    font-size: x-large;
}

tr > td.entryYear, tr > td.entryMonth, tr > td.entryDate {
    background-color: black;
    color: gold;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

tr > td.entry_day, tr > td.lengthDays {
    text-align: right;
}

tr > td.lengthDays {
    background-color: darkslategray;
    color: white;
}

tr > td.lengthPercentage {
    background-color: lightslategray;
    text-align: right;
}

tr.active > td.entryYear,
tr.active > td.entryMonth, 
tr.active > td.entryDate {
    background-color: darkgoldenrod;
    color: gold;
}

.wind  { 
    background-color: white;           
    color: gray; 
    border: thick outset silver;
}

.water { 
    background-color: darkblue;        
    color:  aqua; 
    border: thick outset royalblue;
}

.fire  { 
    background-color: darkred;         
    color: pink; 
    border: thick outset crimson;
}

.earth { 
    background-color: darkgreen;       
    color: lawngreen; 
    border: thick outset goldenrod;
}


.constant { background-color: #DDD; color: #666; }
.mutable  { background-color: #BBB; color: #666; }
.cardinal { background-color: #999; color: #666; }